---
layout: default
title: Projects
permalink: /projects/
---

<div class="demo-ribbon"></div>
  <post class="demo-post mdl-layout__content">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="demo-crumbs mdl-color-text--grey-500">
          <i class="material-icons md-16">home</i>{{ page.url | prepend: site.baseurl | replace: '/', '&gt;' }}
        </div>
        <h3>{{page.title}}</h3>
          <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
          </p>
          <p>
            Below is a list of projects that are currently available online. I will continue to add new projects and maintain their source code for archival purposes.
          </p>
          <p>
            <a href="http://sugarplumoriginals.com/_oldWp/">E-Commerce Website</a> -- Full E-Commerce website developed using the <a href="http://wordpress.com/">wordpress</a> platform. Also responsible for product photography.
          </p>
          <p>
            <a href="http://getakluew.com">Photography Website</a> -- Photography portfolio developed using the <a href="http://wordpress.com/">wordpress</a> platform. My first *entrepreneurial* adventure in a business-to-business project. SEO driven design. Made possible due to the <a href="https://www.ontario.ca/business-and-economy/start-summer-company-students">Ontario Summer Company 2014 Entrepreneurial Grant</a>.
          </p>
          <p>
            <a href="http://getaclue-evtbckwl.herokuapp.com/">Survey Application</a> -- Survey application developed with the purpose of learning the Ruby language, Ruby on Rails framework, and <a href="http://github.com/">github</a> version control system. Hosted on <a href="https://heroku.com/">Heroku</a> using a <a href="http://postgresql.org/">postgres database</a>.
          </p>
      </div>
    </div>
  </post>
</div>
