<div id="sidebar">
  <h2>Alex Kluew</h2>
  <img src="/assets/alex-kluew-profile-image.jpg" />
  <ul>
    <li>Software Engineer, <a href="http://peo.on.ca/index.php?ci_id=2064&la_id=1">EIT</a></li>
    <li>🏡 in Toronto</li>
    <li>working on contract for 🇨🇦</li>
  </ul>
  <p><a href="/about">More about me</a></p>

  <!-- Social links -->
  <ul class="social-media-list" style="margin-top: 20px; margin-bottom: 30px;">
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    <li>
      {% include icon-linkedin.html %}
    </li>
  </ul>

  <!-- <hr /> -->

  <!-- {% include newsletter.html %} -->

  <hr />

  {% twitter https://twitter.com/getaclue_1 maxwidth=500 limit=5 %}

</div>
