<div class="footer"> 
	<div class="contact">
        		<p>
                	Alex Kluew<br />
                	Software Engineer<br />
                	info [_at_] getaclue.me
        		</p>	
        </div>
 	<div class="contact">
					<p>
                	<a href="https://github.com/getaclue" rel="nofollow" target="_blank">github.com/getaclue</a><br />
                	<a href="https://twitter.com/alexkluew" rel="nofollow" target="_blank">twitter.com/alexkluew</a><br />
					Hosted via <a href="https://www.github.com" rel="nofollow" target="_blank">www.github.com</a>
              		</p>
	</div>
</div>
