<div class="footer"> 
	<div class="contact">
        		<p>
                	Alex<br />
                	Software Engineer<br />
                	info [at] getaclue.me
        		</p>	
        </div>
 	<div class="contact">
             		 <p>
                	<a href="https://github.com/getaclue" rel="nofollow" target="_blank">github.com/getaclue</a><br />
                	<a href="https://twitter.com/getakluew" rel="nofollow" target="_blank">twitter.com/getakluew</a><br />
              		</p>
	</div>
</div>
