---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ page.url }}">{{ page.title | escape }}</a></h1>
    <p class="post-meta">
      <time datetime="{{ page.datePublished | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.datePublished | date: date_format }}
      </time> by <a href="/" rel="author">Alex Kluew</a>
    </p>
    <p class="post-meta">
      {% include read_time.html %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="extra-info">
    {% if page.tags.size > 0 %}
    Tags: {{ page.tags | join: ', ' }} &nbsp; | &nbsp;
    {% endif %}
    {% include fork.html %}
  </p>
</article>
