---
layout: default
---

<div class="demo-ribbon"></div>
  <post class="demo-post mdl-layout__content">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="demo-crumbs mdl-color-text--grey-500">
          <i class="material-icons md-16">home</i>{{ page.url | prepend: site.baseurl | replace: '/', '&gt;' }}
        </div>
        <h3>{{ page.title }}</h3>
          <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
          </p>
          <p>
            {{ content }}
          </p>
      </div>
    </div>
  </post>
</div>
