---
layout: default
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }} - {{ site.url | absolute_url }}{% endif %}",
    "image": {
      "@type": "ImageObject",
      "url": "{% if page.image %}{{ page.image }}{% else %}{{ "/assets/social-image-banner.png" | absolute_url }}{% endif %}"
    },
    "author": {
      "@type": "Person",
      "name": "Alex Kluew"
    },
    "datePublished": "{{page.datePublished}}"
    {% if page.dateModified %}
    , "dateModified": "{{ page.dateModified }}"
    {% endif %}
    {% if page.dateCreated %}
    , "dateCreated": "{{ page.dateCreated }}"
    {% endif %}
  }
</script>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title }}</h1>
  <div itemprop="articleBody">{{ content }}</div>

  <span class="meta"
    ><time
      itemprop="datePublished"
      datetime="{{ page.date | date_to_xmlschema }}"
      >{{ page.date | date: "%B %-d, %Y" }}</time
    >
    &middot; {% for tag in page.tags %} <a href="/tag/{{tag}}">{{tag}}</a>{%
    unless forloop.last %}, {% endunless %}{% endfor %}</span
  >
  <hr />
  <style>
    .not-post-page-navigation {
      display: flex;
      justify-content: space-around;
      margin: 1em;
    }
  </style>
  <div class="not-post-page-navigation">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="{{page.previous.title}}"
      >&laquo; {{page.previous.title}}</a
    >
    {% endif %} {% if page.next.url %}
    <a href="{{page.next.url}}" title="{{page.next.title}}"
      >{{page.next.title}} &raquo;</a
    >
    {% endif %}
  </div>
  <hr />
  <!--<span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  -->
  <script src="https://gumroad.com/js/gumroad.js" async></script>
  <center style="padding-top: 1rem;">
    <a class="gumroad-button" href="https://gum.co/javascript/launch"
      >Buy my book</a
    >
  </center>
</article>
